*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d7da;
  padding: 1rem 3rem;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logohead {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #b56576;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav li {
  cursor: pointer;
  color: #333;
}

nav li:hover {
  color: #b56576;
}

.order-btn {
  color: black;
  border: none;
  padding: 0.6rem 1.5rem;
  cursor: pointer;

}

.order-btn:hover {
  background-color: #8e4a5a;
}

.landing {
  text-align: center;
  background-color: 
#EDD0CC;

  padding: 4rem 2rem;
  font-family: 'Playfair Display', serif;
  background-image: url('./assets/landing.png');
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;

}
.decor-text{
  margin-top: 15rem;
}

.landing button {
  background-color: #b56576;
  color: white;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: none;
}

.landing button:hover {
  background-color: #8e4a5a;
}
.products {
  background: linear-gradient(to bottom, #f8e8ec 50%,
#EBE8E3 50%);
  text-align: center;
  padding: 4rem 2rem;
  
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 39px;
 
}

.product-card {
  box-shadow: none;
  width: 340px;
 

}

.product-image {
  width: 100%;

}


.product-text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  margin-bottom: 0.8rem;
   background-color: 
#EBE8E3;
}

.product-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1.5rem;
   background-color: 
#EBE8E3;
}

.product-text button {
  background-color: #b56576;
  color: white;
  padding: 0.6rem 1.3rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: none;
}

.product-text button:hover {
  background-color: #8e4a5a;
}


.product-text {
 background-color: 
#EBE8E3;
  padding: 2rem 1.5rem;
  margin-top: -1.5rem; 
  position: relative;

}


.collection-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1px;
   background-color: 
#EBE8E3;
}


.logo img {
  object-fit: cover;   
  height: 14rem;  
  margin-top: -3rem;       
}

.logo {
  overflow: hidden;    
}

.bottom-images {
   display: flex;
  justify-content: center;
  gap: 3.2rem;
  /* flex-wrap: wrap; */

}

.image-card {
 position: relative;
  width: 21rem;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

/* Overlay container */
.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.title h3{
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: #7a2a2a;
 margin: 0 0 8px 0;  
  position: relative;
   margin-top: -100px;
  
}
.title1 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: white;
 margin: 0 0 8px 0;   
  position: relative;
  top: -20px;

}
.discount{
  margin: 10%;
  font-weight: bold;
}
.discount1 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  margin: 4px 0;
  
}

.discount-par{
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color:white;


}

.cta1{
   padding: 0.6rem 1.5rem;
   border: none;
   padding-bottom: 3%;
   padding-left: 3rem;
   padding-right: 3rem;
}
.cta {
  background-color: white;
  color: black;
  border: none;
  border-radius: 20px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 6px;
margin-bottom: 5%;
font-weight: bolder;
}

.cta:hover {
  background-color: #b03a3a;
}

/* footer styling*/
.footer {
  display: flex;
justify-content: center; 
align-items: center;
  background-color: #fff;
  padding: 2rem 3rem;
  font-family: 'Playfair Display', serif;
gap: 7rem;
padding-top: 5%;
  

}

.footer-banner1 img,
.footer-banner2 img {
  width: 19rem;
  gap: 2.9rem;
  border-right: 1px solid #ccc;
  padding-right: 2rem;
}

.footer-ad {
  display: flex;
  flex-direction: column;
  
}

.bout-us {
  color:
#D4AE73;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  color: #EBCECA;
}

.lastline p {
  color: #000;
  font-style: italic;
  margin-top: 0.5rem;
  padding-left: 3.5rem;
}

.social-icons i {
  font-size: 24px;
  color: 
#8E2E49;
  margin: 0 10px;
  cursor: pointer;
}

.social-icons i:hover {
  transform: scale(1.2);
  color: #7a2a2a;
}
.bi{
   font-size: 24px;
  color: #8E2E49;
  margin: 0 10px;
  cursor: pointer;
}
/*mobile*/
@media(max-width: 768px) {
 .product-grid {
  display: block;
  gap: 3rem;

 
}
}
